<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notepad</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>메모장</h1>

    <!-- 제목 입력 필드 추가 -->
    <div class="form-container">
        <label for="title">제목 : </label>
        <input type="text" id="title">
        <br>

        <!-- 메모 입력 필드 -->
        <textarea id="note" rows="10" cols="30"></textarea>
    </div>

    <!-- 버튼 -->
    <div class="button-container">
        <button onclick="saveNote()">메모 저장</button>
        <button onclick="loadNote()">메모 보기</button>
    </div>

    <!-- 저장된 메모 목록 -->
    <h2>저장된 메모</h2>
    <div class="notes-container">
        <ul id="notesList"></ul>
    </div>
</div>

<script>
    function saveNote() {
        const title = document.getElementById('title').value;
        const note = document.getElementById('note').value;

        if (!title) {
            alert('Please enter a title for your note.');
            return;
        }

        localStorage.setItem(title, note);
        alert('메모가 저장되었습니다!');
        loadAllNotes();
    }

    function loadAllNotes() {
        const notesList = document.getElementById('notesList');
        notesList.innerHTML = '';

        for (let i = 0; i < localStorage.length; i++) {
            const title = localStorage.key(i);
            const note = localStorage.getItem(title);

            const listItem = document.createElement('li');
            listItem.innerHTML = `${title}: ${note} <button onclick="deleteNote('${title}')">Delete</button>`;
            notesList.appendChild(listItem);
        }
    }

    function deleteNote(title){
        localStorage.removeItem(title);
        alert(`메모 "${title}" 가 삭제되었습니다!`);
        loadAllNotes();
    }

    window.onload = loadAllNotes;
</script>
</body>
</html>
